.first {
    width: 200px;
    height: 100px;
    overflow: scroll;
}
.second {
    width: 200px;
    height: 100px;
    overflow: clip;
}
.third {
    width: 200px;
    height: 100px;
    overflow: visible;
}